.about-main{
    background-color: #FFFFFF;
    text-align: center;
    // height: 3647px;
    padding-top: 75px;
    padding-bottom: 75px;
}
.card-Container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
