.demo-main{
    background-color: #00A4C5;
    opacity: 76%;
    color: #FFFFFF;
    text-align: center;
    // height: 743px;
    // padding: 100px;
    margin-top: 75px;
    padding-bottom: 75px;
    .container{
        padding-top: 75px;
    }
    .demo-title{
        font-weight: bold;
        font-size: 48px;
    }
    .demo-subtitle{
        font-size: 22px;
        padding: 5px;
    }
    .demo-btn{
        background-color: #4EBECE;
        width: 212px;
        height: 59px;
        border-radius: 6px;
        font-size: 15px;
        margin-top: 40px;
    }
}
