
.collaborativeIntel-main{
    text-align: left;
    color: #16375B;
    .collab-titel{
        font-size: 40px;
        font-weight: bold;

    }
    .collab-des{
        font-size: 20px;

    }
    .collab-subtitel{
        font-size: 32px;
    }
    .desc-divider{
        background-color: #2EB9CC;
        width: 68px;
        height: 5px;
        border-radius: 10px;

    }
    .collab-p{
        font-size: 16px;

    }
}

